#bug_report {
    margin: auto;
    display: block;
    overflow: hidden;
    text-align: center;
    min-height: 100px;
    max-height: 140px;
}
#bug_report_text_area {
}
#bug_report_button_area {
}
#bug_report_button {
    width: 100%;
}
.bug_report_text_normal{
    color: #000;
}
.bug_report_text_thanks{
    color: #7D0E19;
}
@media screen and (max-width: 800px) {
    #bug_report {
        min-height: 50px;
        max-height: 50px;
    }
}
