.card {
    display: inline-block;
    vertical-align: top; /* here */
    width: 49%;
    height: 50%;
    background: #eeeee5;
    border: 1px dashed #abab9a;
    padding: 5px auto;
    margin: 5px auto;
    color: #2c2c2c;
    overflow:hidden;
     -moz-transition: all 300ms ease-out;
     -o-transition: all 300ms ease-out;
     -webkit-transition: all 300ms ease-out;
 }
 .cards {
 }
.left {
    float: left;
    text-align: left;
}
.right {
    float: right;
    text-align: left;
}
.center {
    float: center;
}
.card img {
    height: 120px;
    float: left;
    margin-right: 5px;
}
.card_text {
    font-size: 18px;
    text-align: left;
    margin-right: 5px;
    margin-left: 5px;
}
.clear_card {
  clear: left;
    width: 100%;
    background: #efffff;
}

.card:hover{
     -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
     -o-transform: scale(1.2);
     cursor: pointer;
 }

.full_cards{
    align: center;
    text-align: left;
    vertical-align: middle;
}
.full_card{
    position: fixed;
    z-index: 2;
    overflow:auto;
    display: none;
    background: #fff;
    border: 1px solid #abab9a;
    width: 90%;
    height: 90%;
    overflow: auto;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

.full_card .close_full_card {
    float: right;
    right: 0;
    top: 5px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    cursor: pointer;

}
.full_card_text {
    display: inline-block;
    /*top: 50%;*/
    /* transform: translateX(0%) translateY(-50%);*/
    vertical-align: middle;
    padding: 5px;
    margin: 5px;
}
.mega_super_puper_center {
    position: relative;
    top: 50%;
    transform: translateX(0%) translateY(-50%);
    vertical-align: middle;
    text-align: center;
}
@media screen and (max-width: 800px) {
    .cards {
        align: center;
        display: block;
        vertical-align: top;
    }
    .card {
        display: block;
        align: center;
        margin: 5px auto;
        width: 80%;
    }
}