{% extends '../../base.html' %}

{% block html_body %}

<!--{ { request.user.is_authenticated } }-->

{% if request.user.is_authenticated %}

<form method="POST" action="/sign_out">
    {% csrf_token %}
    <input type="submit" value="{{ request.user }} (выйти)">
</form>

{% else %}

{% load i18n admin_static admin_list %}
{% block extrahead %}
<link type="text/css" href="/static/css/auth_page.css" rel="stylesheet"/>
{% endblock %}

<div class="window">
    <div class="left">
        <h1>Форма авторизации</h1>
        <p class="error">{{ sign_in_error }}</p>
        <form method="post" action="/login">
            {% csrf_token %}
            <p><label for="id_username">Username:</label> <input id="id_username" type="text" name="sign_in_username"
                                                                 maxlength="30"/></p>
            <p><label for="id_password">Password:</label> <input id="id_password" type="password" name="sign_in_password"/>
            </p>

            <input type="submit" value="Sign in"/>
            <input type="hidden" name="sign_in" value="sign_in"/>
            <input type="hidden" name="next" value="{% firstof next request.META.HTTP_REFERER %}"/>
        </form>
    </div>

    <div class="right">
        <h1>Форма регистрации</h1>
        <p class="error">{{ sign_up_error }}</p>
        <form method="post" action="/login">
            {% csrf_token %}
            <p><label for="id_username">Username:</label> <input id="id_username" type="text" name="sign_up_username"
                                                                 maxlength="30"/></p>
            <p><label for="id_password">Password:</label> <input id="id_password" type="password" name="sign_up_password"/>
            </p>
            <p><label for="id_password">Password (repiat):</label> <input id="id_password_repiat" type="password"
                                                                          name="sign_up_password_repiat"/></p>

            <input type="submit" value="Sign up"/>
            <input type="hidden" name="sign_up" value="sign_up"/>
            <input type="hidden" name="next" value="{% firstof next request.META.HTTP_REFERER %}"/>
        </form>
    </div>
</div>


{% endif %}

{% endblock %}