<span class="img">
    <a href="{% url 'dist_learn_app:course_lessons' pk=course.id %}"><img width="50px"
                                                                          src="{{ MEDIA_PATH }}/{{ course.main_image }}"
                                                                          alt="{{ course.name }}"
                                                                          title="{{ course.name }}"></a>
</span>
{{ course.name }}
<p class="card_text">
    {{ course.description }}
</p>

